<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CAB/GABメイン | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/administrator.css}">
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main>
    <!-- CABGABメイン画面 -->
    <section class="menu" aria-label="CABGAB管理メニュー">
        <p class="note">CABGAB問題管理</p>
        <div class="sort">
            <div class="radio">
                <input type="radio" name="status" id="all" th:checked="${selectedStatus == 'all'}" onchange="location.href='/manage/cabgab?status=all'">
                <label for="all">すべて</label>

                <input type="radio" name="status" id="active" th:checked="${selectedStatus == 'active'}" onchange="location.href='/manage/cabgab?status=active'">
                <label for="active">言語</label>

                <input type="radio" name="status" id="stop" th:checked="${selectedStatus == 'stop'}" onchange="location.href='/manage/cabgab?status=stop'">
                <label for="stop">非言語</label>
            </div>
        </div>
    </section>

    <section class="menu" aria-label="問題一覧">

        <div th:if="${cabgabList == null or cabgabList.isEmpty()}" class="note">
            <p>登録されている問題はありません。</p>
        </div>

        <th:block th:unless="${cabgabList == null or cabgabList.isEmpty()}">

            <div th:each="cabgab : ${cabgabList}"
                 class="statistics box"
                 style="cursor: pointer;"
                 th:onclick="|location.href='@{/manage/cabgab/edit(cabgabId=${cabgab.cabgabId})}'|">

                <span class="category" th:text="${cabgab.cabgabCategory}">言語</span>

                <p class="note" th:text="${cabgab.cabgabContent}">
                    ここに問題文が表示されます...
                </p>
            </div>

        </th:block>
    </section>
    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
<button onclick="location.href='./cabgab/add'" class="fab-register">新規登録 ＋</button>
</body>
</html>