<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ESメイン</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('esMainHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
    <main>
        <section class="menu" aria-label="メニュー">
            <a class="note">ESを作成してみよう</a>

            <div onclick="location.href='./es/creation'" class="menu-item">
                <svg class="icon icon-with-bg" width="48" height="48">
                    <use href="#insert"></use>
                </svg>
                <div class="texts">
                    <p class="title">新規作成</p>
                    <p class="desc">テンプレートから作成</p>
                </div>
            </div>

            <div onclick="location.href='./es/list'" class="menu-item">
                <svg class="icon icon-with-bg" width="48" height="48">
                    <use href="#file"></use>
                </svg>
                <div class="texts">
                    <p class="title">作成済みES</p>
                    <p class="desc">編集管理</p>
                </div>
            </div>


            <!-- 最近作業 -->
            <a class="note">最近の作業</a>
            <div onclick="location.href='./es-creation'" class="menu-item">
                <svg class="icon icon-with-bg" width="48" height="48">
                    <use href="#file"></use>
                </svg>
                <div class="texts">
                    <p class="title">あいうえお</p>
                    <p class="desc">かきくけこ</p>
                </div>
            </div>
        </section>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
</body>
</html>