services:
  mirai-web:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      - ai-1
      - ai-2
    networks:
      - app_net

  ai-1:
    build: ./ai_service_1
    ports:
      - "8001:8001"
    networks:
      - app_net

  ai-2:
    build: ./ai_service_2
    ports:
      - "8002:8002"
    environment:
      - OLLAMA_HOST=http://ollama-server:11434
    depends_on:
      - ollama-server
    command: >
      sh -c "sleep 10 && uvicorn api:app --host 0.0.0.0 --port 8002"
    networks:
      - app_net

  ollama-server:
    image: ollama/ollama:latest
    container_name: ollama-server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - app_net
    entrypoint: ["/usr/bin/bash", "-c", "ollama serve & sleep 5 && ollama pull gemma2:9b && wait"]
    restart: unless-stopped

networks:
  app_net:
    driver: bridge

volumes:
  ollama_data: