version:  '3'

services:
  mirai-web:
    build:
      context: ./springboot
      dockerfile: Dockerfile.springboot
    image: s3a125/saba.springboot
    container_name: springboot-saba-container
    ports:
      - "8080:8080"
    depends_on:
      - ai-1
      - ai-2
    networks:
      - app_net

  ai-1:
    build:
        context: ./ai_service_1
        dockerfile: Dockerfile.ai1
    image: s3a125/saba.ai1
    container_name: ai-service-1-container
    ports:
      - "8001:8001"
    networks:
      - app_net

  ai-2:
    build:
        context: ./ai_service_2
        dockerfile: Dockerfile.ai2
    image: s3a125/saba.ai2
    container_name: ai-service-2-container
    ports:
      - "8002:8002"
    environment:
      - OLLAMA_HOST=http://ollama-server:11434
    depends_on:
      - ollama-server
    command: >
      sh -c "sleep 10 && uvicorn api:app --host 0.0.0.0 --port 8002"
    networks:
      - app_net

  ollama-server:
    image: ollama/ollama:latest
    container_name: ollama-server
    ports:
      - "11434:11434"
    volumes:
      - ollama_data:/root/.ollama
    networks:
      - app_net
    entrypoint: ["/usr/bin/bash", "-c", "ollama serve & sleep 5 && ollama pull gemma2:9b && wait"]
    restart: unless-stopped

networks:
  app_net:
    driver: bridge

volumes:
  ollama_data: