<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>SPIメイン | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/administrator.css}">
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main>
    <!-- SPIメイン画面 -->
    <section class="menu" aria-label="SPI管理メニュー">
        <p class="note">SPI問題管理</p>
        <div class="sort">
            <div class="radio">
                <input type="radio" name="status" id="all" th:checked="${selectedStatus == 'all'}" onchange="location.href='/manage/spi?status=all'">
                <label for="all">すべて</label>

                <input type="radio" name="status" id="active" th:checked="${selectedStatus == 'active'}" onchange="location.href='/manage/spi?status=active'">
                <label for="active">言語</label>

                <input type="radio" name="status" id="stop" th:checked="${selectedStatus == 'stop'}" onchange="location.href='/manage/spi?status=stop'">
                <label for="stop">非言語</label>
            </div>
        </div>
    </section>

    <section class="menu" aria-label="問題一覧">

        <div th:if="${spiList == null or spiList.isEmpty()}" class="note">
            <p>登録されている問題はありません。</p>
        </div>

        <th:block th:unless="${spiList == null or spiList.isEmpty()}">

            <div th:each="spi : ${spiList}"
                 class="statistics box"
                 style="cursor: pointer;"
                 th:onclick="|location.href='@{/manage/spi/edit(spiId=${spi.spiId})}'|">

                <span class="category" th:text="${spi.spiCategory}">言語</span>

                <p class="note" th:text="${spi.spiContent}">
                    ここに問題文が表示されます...
                </p>
            </div>

        </th:block>
    </section>
    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
<button onclick="location.href='/manage/spi/add'" class="fab-register">新規追加 ＋</button>
</body>
</html>