<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/administrator.css}" />
</head>
<body>
<section class="menu" aria-label="管理者メニュー">
    <div onclick="location.href='./spi/edit'" class="menu-item">
        <div class="texts">
            <p class="title">SPI問題変更</p>
            <p class="desc">画面確認のための簡易ボタン</p>
        </div>
    </div>

    <div onclick="location.href='./spi/add'" class="menu-item">
        <div class="texts">
            <p class="title">SPI問題追加</p>
            <p class="desc">画面確認のための簡易ボタン</p>
        </div>
    </div>

    <div class="menu-item">
        <div class="texts">
            <p class="title">この画面は未完成です</p>
        </div>
    </div>

    <div class="menu-item">
        <div class="texts">
            <p class="title">この画面は未完成です</p>
        </div>
    </div>

    <div class="menu-item">
        <div class="texts">
            <p class="title">この画面は未完成です</p>
        </div>
    </div>
</section>
</body>
</html>