<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>面接ログ | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('interviewLogHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main>
    <section class="menu" aria-label="面接結果グラフ">
        <a class="note">スコア推移（直近3回）</a>
        <div class="menu-item">
            <div class="bar-chart-wrap">
                <th:block th:if="${recentInterviews != null and recentInterviews.interviews != null}">
                    <dl th:each="interview : ${recentInterviews.interviews}" class="bar-chart-1">
                        <dd th:style="'height: ' + ${interview.interviewScore} + '%'"></dd>
                    </dl>
                </th:block>
            </div>
        </div>
    </section>

    <section class="menu" aria-label="面接練習履歴">
        <div th:each="interview : ${recentInterviews.interviews}" class="menu-item">
            <span class="box" th:text="${interview.interviewScore} + '点'">点数</span>
            <span class="note" th:text="${#temporals.format(interview.interviewDate, 'yyyy年M月d日')}">日付</span>
        </div>

        <div th:if="${#lists.isEmpty(recentInterviews.interviews)}" class="menu-item">
            <span class="note">履歴がまだありません。</span>
        </div>
    </section>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
</body>
</html>