<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>パスワード変更 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('userRepasswordHeader')"></header>
<main>
    <section class="menu" aria-label="パスワード変更">
        <div class="menu-item">
            <img class="img" src="/img/info.svg" alt="情報マーク">
            <div class="texts">
                <p class="title">セキュリティ対策</p>
                <p class="desc">強力なパスワードは、大文字・小文字・数字・パスワード・記号を組み合わせた8文字以上のものを推奨しております。</p>
            </div>
        </div>
    </section>

    <form action="/repassword" method="post" class="menu">
        <div class="menu-item">
            <div class="texts">
                <label class="title" for="">新しいパスワード</label>
                <textarea id="" name="" placeholder="現在のパスワード"></textarea>
            </div>
        </div>
        <div class="menu-item">
            <div class="texts">
                <label class="title" for="">新しいパスワード</label>
                <textarea id="" name="" placeholder="新しいパスワード"></textarea>
            </div>
        </div>
        <div class="menu-item">
            <div class="texts">
                <label class="title" for="">現在のパスワード(確認)</label>
                <textarea id="" name="" placeholder="もう一度入力てください"></textarea>
            </div>
        </div>

        <!-- 送信ボタン -->
        <button class="button-center" type="submit">
            パスワードを変更する
        </button>
    </form>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>