<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ユーザページ | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('userMainHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<div th:if="${message}" style="display:none;">
    <p class="error-message-data" th:text="${message}"></p>
</div>
    <main>
        <section class="menu" aria-label="ユーザ画面">

            <!-- ユーザーネーム -->
            <div class="menu-item">
                <svg class="icon" width="48" height="48">
                    <use href="#user"></use>
                </svg>
                <div class="texts">
                    <p class="title" th:text="${userName}">あいうえおさん</p>
                </div>
            </div>
            <!-- 現在の目標 -->
            <div onclick="location.href='./user/target'" class="menu-item">
                <svg class="icon" width="48" height="48">
                    <use href="#user"></use>
                </svg>
                <div class="texts">
                    <p class="title">現在の目標</p>
                    <p class="note" th:text="${goalContent}">目標の内容がここに入ります</p>
                    <p class="note">残り <span th:text="${remainingDays}">0</span> 日</p>
                </div>
            </div>

            <!-- テーマ切り替えプルダウン -->

            <div class="menu-item">
                <svg class="icon" width="48" height="48">
                    <use href="#user"></use>
                </svg>
                <div class="texts">
                    <p class="title">テーマカラー</p>
                    <div class="form-row">
                        <label for="color"></label>
                        <select id="color" onchange="changeTheme(this.value)" th:attr="data-theme=${currentTheme}">
                            <option value="default" th:selected="${currentTheme == 'default'}">デフォルト</option>
                            <option value="dark" th:selected="${currentTheme == 'dark'}">ダークモード</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- パスワード変更 -->
            <button class="button-center" onclick="location.href='/user/repassword'" type="button">パスワード変更</button>
            <!-- ログアウト -->
            <button class="button-center" onclick="location.href='/logout'" type="button">ログアウト</button>
        </section>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
<script th:src="@{/js/notice.js}"></script>
</body>
</html>