<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ユーザページ | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('userMainHeader')"></header>
    <main>
        <section class="menu" aria-label="ユーザ画面">
            <!-- ユーザーネーム -->
            <div class="menu-item">
                <img class="img" src="/img/user.svg" alt="ユーザー">
                <div class="texts">
                    <p class="title" th:text="${userName}">あいうえおさん</p>
                </div>
            </div>
            <!-- 現在の目標 -->
            <div class="menu-item">
                <img class="img" src="/img/user.svg" alt="目標">
                <div class="texts">
                    <p class="title">現在の目標</p>
                    <p class="note">株式会社〇〇 最終面接</p>
                    <p class="note">残り〇日</p>
                </div>
            </div>

            <!-- テーマ切り替えプルダウン -->

            <div class="menu-item">
                <img class="img" src="/img/user.svg" alt="テーマカラー">
                <div class="texts">
                    <p class="title">テーマカラー</p>
                    <div class="form-row">
                        <label for="color"></label>
                        <select id="color" onchange="changeTheme(this.value)">
                            <option value="default">デフォルト</option>
                            <option value="dark">ダークモード</option>
                            <option value="qwer">あいうえお</option>
                        </select>
                    </div>
                </div>
            </div>

            <!-- パスワード変更 -->
            <button class="button-center" onclick="location.href='/user/repassword'" type="button">パスワード変更</button>
            <!-- ログアウト -->
            <button class="button-center" onclick="location.href='/signin'" type="button">ログアウト</button>
        </section>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
</body>
</html>