<!DOCTYPE html>
<html lang="jp">
<head>
    <meta charset="UTF-8">
    <title>ユーザページ | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('userMainHeader')"></header>
    <main>
        <section class="menu" aria-label="ユーザ画面">
            <!-- ユーザーネーム -->
            <div class="menu-item">
                <img class="img" src="/img/user.svg" alt="ユーザー">
                <div class="texts">
                    <p class="title" th:text="${userName}">あいうえおさん</p>
                </div>
            </div>
            <!-- 現在の目標 -->
            <div class="menu-item">
                <img class="img" src="/img/user.svg" alt="目標">
                <div class="texts">
                    <p class="title">現在の目標</p>
                    <p class="note">株式会社〇〇 最終面接</p>
                    <p class="note">残り〇日</p>
                </div>
            </div>

            <!-- テーマカラー選択 -->
            <form class="menu-item" th:action="@{/user/updateColor}" method="post">
                <div class="texts">
                    <p class="title">テーマカラー</p>
                    <select name="userColor" id="userColor" th:value="${userColor}" onchange="this.form.submit()" class="color-select">
                        <option value="1" th:selected="${userColor == 1}" style="background-color: #ff0000; color: white;">■ 赤</option>
                        <option value="2" th:selected="${userColor == 2}" style="background-color: #0000ff; color: white;">■ 青</option>
                        <option value="3" th:selected="${userColor == 3}" style="background-color: #000000; color: white;">■ 黒</option>
                        <option value="4" th:selected="${userColor == 4}" style="background-color: #ffffff; color: black;">■ 白</option>
                    </select>
                </div>
            </form>
            <!-- パスワード変更 -->
            <button class="button-center" onclick="location.href='/user/repassword'" type="button">パスワード変更</button>
            <!-- ログアウト -->
            <button class="button-center" onclick="location.href='/signin'" type="button">ログアウト</button>
        </section>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
</body>
</html>