<!DOCTYPE html>
<html lang="jp" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>目標設定 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>
<body>
<header th:replace="common/header :: siteHeader('userTargetHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main>
    <div th:if="${message}" style="display:none;">
        <p class="error-message-data" th:text="${message}"></p>
    </div>
    <section class="menu">
        <div class="menu-item">
            <div class="texts">
                <p class="title">目標を設定する</p>
                <p class="desc">達成したい目標と期限を設定しましょう。</p>
            </div>
        </div>
        <form th:action="@{/user/target}" method="post" class="menu">

            <div class="menu-item">
                <div class="texts">
                    <label class="title">目標の内容</label>
                    <input type="text" name="goalContent" placeholder="例：資格試験に合格する" required>
                </div>
            </div>

            <div class="menu-item">
                <div class="texts">
                    <label class="title">達成期限</label>
                    <input type="date" name="goalDate" required>
                </div>
            </div>

            <button class="button-center button-primary" type="submit">保存する</button>
        </form>
    </section>
</main>

<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
<script th:src="@{/js/notice.js}"></script>
</body>
</html>