<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>500エラー画面</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/error.css}" />
</head>
<body>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main class="menu">
    <svg class="icon icon-with-bg icon-five" width="75" height="75">
        <use href="#es"></use>
    </svg>

    <p class="title">サーバーエラー</p>

    <p class="text">
        サーバーで問題が発生しました。<br>
        しばらくしてから再度お試しください。
    </p>
    <!-- 再試行ボタン -->
    <button class="button button-primary" th:onclick="|location.href='@{/error/back}'|" type="button">
        再試行
    </button>

    <!-- ホームボタン -->
    <button class="button button-white" onclick="location.href='/index'" type="button">
        ホームに戻る
    </button>

    <p class="note">問題が解決しない場合は、サポートまでご連絡ください。</p>
</main>
</body>
</html>