<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>ようこそ | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>

<header th:replace="~{common/header :: siteHeader('indexHeader')}"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main>
    <section class="menu">
        <div th:if="${message}" style="display:none;">
            <p class="error-message-data" th:text="${message}"></p>
        </div>
    </section>

    <!-- 現在の目標 -->
    <section class="menu" aria-label="目標セクション">
        <!-- 現在の目標 -->
        <div onclick="location.href='./user/target'" class="menu-item">
            <svg class="icon" width="48" height="48">
                <use href="#user"></use>
            </svg>
            <div class="texts">
                <p class="title">現在の目標</p>
                <p class="note" th:text="${goalContent}">目標の内容がここに入ります</p>
                <p class="note">残り <span th:text="${remainingDays}">0</span> 日</p>
            </div>
        </div>

        <!-- メニュー -->
        <p class="note">メニュー</p>

        <div onclick="location.href='./interview'" class="menu-item">
            <svg class="icon icon-with-bg icon-interview" width="48" height="48">
                <use href="#interview"></use>
            </svg>
            <div class="texts">
                <p class="title">面接練習</p>
                <p class="desc">WEB面接を試してみよう</p>
            </div>
        </div>

        <div onclick="location.href='./questions'" class="menu-item">
            <svg class="icon icon-with-bg icon-question" width="48" height="48">
                <use href="#question"></use>
            </svg>
            <div class="texts">
                <p class="title">過去問稽古場</p>
                <p class="desc">SPI・CAB/GABの勉強をしよう</p>
            </div>
        </div>

        <div onclick="location.href='./es'" class="menu-item">
            <svg class="icon icon-with-bg icon-es" width="48" height="48">
                <use href="#es"></use>
            </svg>
            <div class="texts">
                <p class="title">エントリーシート</p>
                <p class="desc">ESを添削してみよう</p>
            </div>
        </div>

        <!--FIXME 管理者のみ実行可能に変更予定 -->
        <div sec:authorize="hasRole('ADMIN')" onclick="location.href='./manage'" class="menu-item">
            <svg class="icon icon-with-bg icon-manage" width="48" height="48">
                <use href="#settings"></use>
            </svg>
            <div class="texts">
                <p class="title">管理者画面</p>
                <p class="desc">システムの管理・ユーザー確認</p>
            </div>
        </div>
    </section>

    <div class="spacer" aria-hidden="true"></div>
</main>

<footer th:replace="~{common/footer :: siteFooter}"></footer>

<script th:src="@{/js/style.js}"></script>
<script th:src="@{/js/notice.js}"></script>
</body>
</html>