<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザ追加 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/administrator.css}">
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main>
    <div th:if="${message}" style="display:none;">
        <p class="error-message-data" th:text="${message}"></p>
    </div>
    <section class="menu" aria-label="システム統計">
        <p class="note">ユーザ追加</p>
        <form method="post" th:action="@{/manage/users/add}" th:object="${userRequest}">

            <div class="statistics">
                <div class="form-row">
                    <label class="form-label" for="user-name">ユーザ名</label>
                    <input type="text" id="user-name" name="userName" placeholder="ユーザ名を入力" required>
                </div>

                <div class="form-row">
                    <label class="form-label" for="user-address">メールアドレス</label>
                    <input type="email" id="user-address" name="userAddress" placeholder="メールアドレスを入力" required>
                </div>

                <div class="form-row">
                    <label class="form-label" for="user-role">権限</label>
                    <select id="user-role" name="userRole">
                        <option value="user">利用者</option>
                        <option value="admin">管理者</option>
                    </select>
                </div>

                <div class="form-row">
                    <label class="form-label" for="user_valid">状態</label>
                    <select id="user_valid" name="isValid">
                        <option value="true">利用中</option>
                        <option value="false">停止中</option>
                    </select>
                </div>

                <div class="form-row">
                    <label class="form-label" for="password">新しいパスワード</label>
                    <input type="password" id="password" name="password" placeholder="パスワードを入力" required>
                </div>

                <div class="form-row">
                    <label class="form-label" for="password-confirm">新しいパスワード（確認）</label>
                    <input type="password" id="password-confirm" name="passwordConfirm" placeholder="パスワードを入力">
                </div>

                <button class="button-center button-primary" type="submit">
                    追加
                </button>
            </div>
        </form>
    </section>

    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
<script th:src="@{/js/notice.js}"></script>
</body>
</html>