<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザ情報変更 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/administrator.css}">
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main>
    <section class="menu" aria-label="システム統計">
        <div th:if="${message}" >
            <p th:text="${message}"></p>
        </div>
        <p class="note">ユーザ情報変更</p>
        <form method="post" th:action="@{/manage/users/edit}" th:object="${user}">
            <input type="hidden" th:field="*{userId}">

            <div class="statistics">
                <div class="form-row">
                    <label class="form-label" for="user-name">ユーザ名</label>
                    <input type="text" id="user-name" th:field="*{userName}" placeholder="ユーザ名を入力">
                </div>

                <div class="form-row">
                    <label class="form-label" for="user-address">メールアドレス</label>
                    <input type="email" id="user-address" th:field="*{userAddress}" placeholder="メールアドレスを入力">
                    <p th:if="${#fields.hasErrors('userAddress')}" th:errors="*{userAddress}" style="color: red;"></p>
                </div>

                <div class="form-row">
                    <label class="form-label" for="user-role">権限</label>
                    <select id="user-role" th:field="*{userRole}">
                        <option value="利用者">利用者</option>
                        <option value="管理者">管理者</option>
                    </select>
                </div>

                <div class="form-row">
                    <label class="form-label" for="user_valid">状態</label>
                    <select id="user_valid" th:field="*{isValid}">
                        <option value="true">利用中</option>
                        <option value="false">停止中</option>
                    </select>
                </div>

                <div class="form-row">
                    <label class="form-label" for="password">新しいパスワード</label>
                    <input type="text" id="password" placeholder="変更する場合のみ入力">
                </div>

                <button class="button-center button-primary" type="submit">
                    保存
                </button>
            </div>
        </form>
    </section>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
</body>
</html>