<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>ユーザ管理 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}">
    <link rel="stylesheet" th:href="@{/css/administrator.css}">
</head>
<body>
<header th:replace="common/header :: siteHeader('manageHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
<main>
    <div th:if="${message}" style="display:none;">
        <p class="error-message-data" th:text="${message}"></p>
    </div>
    <section class="menu" aria-label="ユーザリスト">
        <!-- ポップアップメッセージ用のコンテナ（JavaScriptで表示） -->
        <div th:if="${message}" style="display: none;"
             data-message th:text="${message}">
        </div>

        <form method="get" th:action="@{/manage/users}">
            <div class="sort">
                <div class="form-row">
                    <label class="form-label" for="user-name">ユーザ名で絞り込む</label>
                    <input type="text" id="user-name" name="keyword" th:value="${userRequest?.keyword}" placeholder="ユーザ名を入力">
                    <button type="submit" class="button-center" style="margin-left: 10px;">検索</button>
                </div>
            </div>
        </form>
        <div th:each="user : ${users}" class="menu-item"
             th:onclick="|location.href='@{/manage/users/edit/__${user.userId}__}'|">
            <div class="texts">
                <p class="title" th:text="${user.userName}">ユーザ名</p>
                <p class="desc" th:text="|最終ログイン:${#dates.format(user.lastedAt, 'yyyy/MM/dd HH:mm')}|">最終ログイン日時</p>
                <p class="desc" th:text="|作成日:${#dates.format(user.createdAt, 'yyyy/MM/dd')}|">作成日</p>
            </div>
            <div class="meta">
                <span class="role admin" th:if="${user.userRole == 'admin' || user.userRole == 'ADMIN'}">管理者</span>
                <span class="role user" th:if="${user.userRole == 'user' || user.userRole == 'USER'}">利用者</span>
                <span class="status active" th:if="${user.isValid}">利用中</span>
                <span class="status stop" th:unless="${user.isValid}">停止中</span>
            </div>
        </div>
    </section>
    <div class="spacer" aria-hidden="true"></div>
</main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
<script th:src="@{/js/notice.js}"></script>
<button onclick="location.href='./users/add'" class="fab-register">新規登録 ＋</button>
</body>
</html>