<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>CAB/GAB 過去問稽古場 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('cabgabMainHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>
    <main>
        <section class="menu" aria-label="CAB・GABメイン">
            <a href="cabgab/study" class="menu-item">
                <div class="texts">
                    <p class="title">問題1</p>
                </div>
            </a>
        </section>
        <div class="spacer" aria-hidden="true"></div>
    </main>
<footer th:replace="common/footer :: siteFooter"></footer>
<script th:src="@{/js/style.js}"></script>
</body>
</html>