<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <title>SPI 過去問稽古場 | Mirai</title>
    <link rel="stylesheet" th:href="@{/css/color.css}">
    <link rel="stylesheet" th:href="@{/css/style.css}" />
</head>

<body>
<header th:replace="common/header :: siteHeader('spiMainHeader')"></header>
<div th:replace="~{common/color :: svg-sprite}"></div>

<main>
    <div style="text-align: center; margin-top: 50px;">
        <section class="menu" aria-label="SPI">
            <div onclick="location.href='./spi'" class="menu-item">
                <svg class="icon icon-with-bg" width="48" height="48">
                    <use href="#file"></use>
                </svg>
                <div class="texts">
                    <p class="title">SPI 模擬試験 (全70問)</p>
                </div>
            </div>
        </section>
        <form class="menu" action="/spi/start" method="post">
            <button class="button-center" type="submit" name="mode" value="new">
                始めからスタート
            </button>

            <div class="menu-item">
                <div class="texts">
                    <div class="form-row">
                        <select name="middleIndex">
                            <option th:each="i : ${#numbers.sequence(1, 70)}"
                                    th:value="${i}"
                                    th:text="'問 ' + ${i}"></option>
                        </select>
                    </div>
                    <button class="button-center" type="submit" name="mode" value="new_middle">
                        途中からスタート
                    </button>
                </div>
            </div>

            <th:block th:if="${hasInProgress}">
                <button class="button-center" type="submit" name="mode" value="resume">
                    続きから再開
                </button>
            </th:block>
        </form>
        <section class="menu">
            <button class="button-center" type="submit" onclick="location.href='/spi/history'">
                過去の結果一覧へ
            </button>
        </section>
    </div>
    <div class="spacer" aria-hidden="true"></div>
</main>

<footer th:replace="~{common/footer :: siteFooter}"></footer>

<script th:src="@{/js/style.js}"></script>
</body>
</html>